.home-page{
  
    /* background-color: rgb(174, 174, 174); */
    margin-top: 100px;
    font-family: 'Be Vietnam Pro', sans-serif;
padding: 60px;
}
@media screen and (max-width : 550px) and (min-width : 0px) {
    
    .home-page{
   
    padding: 20px 10px;
    }
 
} 